//colors
$color_link_water_approx: #e0e8f3;
$color_science_blue_approx: #0a60e0;
$color_blue_ribbon_approx: #053cf0;
$color_link_water_approx: #E0E8F3;
$color_link_f0d165: #F0D165;
$color_link_f4f4f4: #F4F4F4;
$color_link_212121: #212121;
$color_link_999999: #999999;
$color_link_5B5B5B: #5B5B5B;
$color_white: #ffffff;
$black: #000000;
//fonts
$font_0: Jost;
$font_1: sans-serif;
// Breakdown variable
$breakpoint-notebook: 1036px;
$breakpoint-tablet-large: 910px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 590px;
