/**
 * Common styles
 * Loads on front end and back end
 */
/* Font size styles */

section[class*="wp-block-rblock-"] svg .has-black-color { 
	fill: #000;
}
section[class*="wp-block-rblock-"] .has-dark-gray-color{
    fill: #28303d;
}
section[class*="wp-block-rblock-"] .has-gray-color {
    fill: #39414d;
}
section[class*="wp-block-rblock-"] svg .has-green-color {
    fill: #d1e4dd!important;
}
section[class*="wp-block-rblock-"] .has-blue-color {
    fill: #d1dfe4;
}
section[class*="wp-block-rblock-"] .has-purple-color {
    fill: #d1d1e4;
}
section[class*="wp-block-rblock-"] .has-red-color {
    fill: #e4d1d1;
}
section[class*="wp-block-rblock-"] .has-orange-color {
    fill: #e4dad1;
}
section[class*="wp-block-rblock-"] .has-yellow-color {
    fill: #eeeadd;
}
section[class*="wp-block-rblock-"] .has-white-color {
    fill: #fff;
}

section[class*="wp-block-rblock-"] hr.has-black-color {
    border-color: #000;
}
section[class*="wp-block-rblock-"] hr.has-dark-gray-color{
    border-color: #28303d;
}
.has-gray-color {
    border-color: #39414d;
}
section[class*="wp-block-rblock-"] hr.has-green-color {
    border-color: #d1e4dd;
}
section[class*="wp-block-rblock-"] hr.has-blue-color {
    border-color: #d1dfe4;
}
section[class*="wp-block-rblock-"] hr.has-purple-color {
    border-color: #d1d1e4;
}

section[class*="wp-block-rblock-"] hr.has-red-color {
    border-color: #e4d1d1;
}
section[class*="wp-block-rblock-"] hr.has-orange-color {
    border-color: #e4dad1;
}
section[class*="wp-block-rblock-"] hr.has-yellow-color {
    border-color: #eeeadd;
}
section[class*="wp-block-rblock-"] hr.has-white-color {
    border-color: #fff;
}


@media only screen and (min-width: 600px) {

	div[class*="wp-block-rblock-"].bly-font-size-14 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 14px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-15 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 15px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-16 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 16px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-17 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 17px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-18 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 18px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-19 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 19px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-20 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 20px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-21 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 21px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-22 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 22px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-23 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 23px;
		}
	}

	div[class*="wp-block-rblock-"].bly-font-size-24 {

		&.bly-block-testimonial p,
		&.bly-block-notice p,
		&.bly-block-profile p,
		&.bly-block-cta p {
			font-size: 24px;
		}
	}
}


/* Alignment styles */
.bly-align-center {
	text-align: center;
}

.bly-align-left {
	text-align: left;
}

.bly-align-right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

@media only screen and (min-width: 600px) {

	.wp-block-columns .layout-column-1,
	.wp-block-columns .layout-column-2 {
		margin-right: 5%;
	}
}

.wp-block-image {
	margin-bottom: 1.2em;
}

.bly-text-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}

/* Background image/color opacity */

.bly-has-parallax {
	background-attachment: fixed;
	background-size: cover;
    background-position: 50%;
}

.bly-has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: 0;
    z-index: 1;
}

.bly-has-background-dim.has-theme-primary-background-color:before,
.bly-has-background-dim.bly-has-custom-background-color:before {
	background-color: inherit;
}

.bly-has-background-dim-0 {
	&:before {
		opacity: 1;
	}
}

.bly-has-background-dim-10 {
	&:before {
		opacity: .9;
	}
}

.bly-has-background-dim-20 {
	&:before {
		opacity: .8;
	}
}

.bly-has-background-dim-30 {
	&:before {
		opacity: .7;
	}
}

.bly-has-background-dim-40 {
	&:before {
		opacity: .6;
	}
}

.bly-has-background-dim-50 {
	&:before {
		opacity: .5;
	}
}

.bly-has-background-dim-60 {
	&:before {
		opacity: .4;
	}
}

.bly-has-background-dim-70 {
	&:before {
		opacity: .3;
	}
}

.bly-has-background-dim-80 {
	&:before {
		opacity: .2;
	}
}

.bly-has-background-dim-90 {
	&:before {
		opacity: .1;
	}
}

.bly-has-background-dim-100 {
	&:before {
		opacity: 0;
	}
}

div.bly-background-auto {
	background-size: auto;
	background-position: center center;
}

div.bly-background-cover {
	background-size: cover;
}

div.bly-background-contain {
	background-size: contain;
	background-position: center center;
}

div.bly-background-no-repeat {
	background-repeat: no-repeat;
}

div.bly-background-repeat {
	background-repeat: repeat;
}

div.bly-background-repeat-x {
	background-repeat: repeat-x;
}

div.bly-background-repeat-y {
	background-repeat: repeat-y;
	background-position: center center;
}
